verbose: false
xmppuser: "quiteabot@example.com"
xmpppass: "secret"
# xmppserver: "xmpp.example.com:5222"
xmpptarget: "me@example.com"
telegramtoken: "123:AT0KEN"
telegramusers:
  me: 999999999
downloadpath: "./download"
